@using UTIL.Models;
@using NotaVenta.UTIL;
@{
    /**/

    /**/

    /**/


    if (SessionVariables.SESSION_DATOS_USUARIO.VenCod == null)
    {
        var URL = System.Configuration.ConfigurationManager.AppSettings.Get("url");
        Response.Redirect(URL);
    }

    ViewBag.Title = "Nota De Venta";
    string anterior = ViewBag.Anterior;
    string NomAux = ViewBag.NomAux;
    string CodAux = ViewBag.CodAux;
    string VenCodigo = SessionVariables.SESSION_DATOS_USUARIO.VenCod.ToString();
    string VenDes = SessionVariables.SESSION_DATOS_USUARIO.VenDes.ToString();
    string user = SessionVariables.SESSION_DATOS_USUARIO.Nombre.ToString();
    List<CondicionVentasModels> condicion = ViewBag.condicion;
    int vcontacto = ViewBag.vcontactos;
    int vdirec = ViewBag.vdirecc;
    List<ClientesModels> listcontacto = ViewBag.contactos;
    List<ListaDePrecioModels> listap = ViewBag.lista;
    List<CentrodeCostoModels> cc = ViewBag.cc;
    List<DireccionDespachoModels> direc = ViewBag.direccion;
    string fechaactual = DateTime.Now.ToString("yyyy-MM-dd");
    DateTime dia = DateTime.Now;
    dia = dia.AddDays(1);
    string fechamin = (DateTime.Now.Year + "-" + DateTime.Now.ToString("MM") + "-" + dia.ToString("dd")).ToString();
    string codigo = ViewBag.codigo;
    string nombre = ViewBag.nombre;
    string tituloanterior = ViewBag.anterior;
    string pageantegior = ViewBag.page;
    int numero1 = 1;
    int total1 = 0;
    double impuesto = 0;
    double totalfinal = 0;
    List<NotadeVentaCabeceraModels> nnotaventa = ViewBag.numeronota;
    int id = SessionVariables.SESSION_DATOS_USUARIO.IdUsuario;
}


<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<link href="~/Content/assets/plugins/x-editable-bs4/dist/bootstrap4-editable/css/bootstrap-editable.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/x-editable-bs4/dist/inputs-ext/address/address.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/x-editable-bs4/dist/inputs-ext/typeaheadjs/lib/typeahead.js-bootstrap.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<!-- ================== END PAGE CSS STYLE ================== -->
<!-- begin page-header -->
<h1 class="page-header">Nota de Venta <small>Creacion nota de venta</small></h1>
<!-- end page-header -->
<!-- begin row -->
<div class="row">
    <input type="hidden" id="urlObtieneProductosPorListaPrecio" value="@Url.Action("ObtieneProductosPorListaPrecio", "Venta" )" />
    <input type="hidden" id="urlPorcentaje" value="@Url.Action("Porcentaje", "Venta" )" />
    <input type="hidden" id="urlBusquedaProducto" value="@Url.Action("ProductSearch","Venta")" />
    <input type="hidden" id="urlBusquedaRapidaProducto" value="@Url.Action("QuickProductSearch", "Venta")" />
    <input type="hidden" id="urlMultiplicar" value="@Url.Action("Multiplicar", "Venta")" />
    <input type="hidden" id="urlDetalleNotaVenta" value="@Url.Action("Detallenv", "Venta" )" />
    <input type="hidden" id="urlAgregarContacto" value="@Url.Action("AgregarContacto", "Venta")" />
    <input type="hidden" id="urlAgregarNotaVenta" value="@Url.Action("AgregarNV", "Venta" )" />
    <input type="hidden" id="urlCalcularFila" value="@Url.Action("CalcularFila", "Venta")" />
    <input type="hidden" id="urlCalcularProductosAgregados" value="@Url.Action("CalcularProductosAgregados", "Venta")" />
    <div class="row col-lg-12">
        <div class="col-lg-12">
            <div class="panel panel-inverse" data-sortable-id="ui-widget-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Datos del Cliente</h4>
                    <div class="panel-heading-btn">
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>-->
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>-->
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>-->
                    </div>
                </div>
                <div class="panel-body">
                    <input type="hidden" id="filtrarBusqueda" name="filtrarBusqueda" value="40">
                    <div class="table-responsive form-inline">
                        <table class="table table-profile">
                            <tbody>
                                <tr class="highlight">
                                    <td>N&ordm; Cotización</td>
                                    <td><input type="text" name="txtnventa" value="@nnotaventa[0].NVNumero" class="form-control" readonly="readonly" id="txtnventa" /></td>
                                    <td>Cod. Cliente</td>
                                    <td>
                                        <input type="text" name="nombreCliente" id="nombreCliente" class="form-control" value="@codigo - @nombre" readonly="readonly" tabindex="-1" />
                                        <input type="hidden" name="txtcliente" id="txtcliente" value="@codigo" readonly="readonly" />
                                    </td>
                                    <td nowrap="nowrap">Vendedor</td>
                                    <td>
                                        <input type="text" value="@VenDes" name="txtnomvendedor" class="form-control" id="txtnomvendedor" readonly="readonly" tabindex="-1" />
                                        <input type="hidden" name="txtvendedor" id="txtvendedor" value="@VenCodigo" readonly="readonly" />
                                        <input type="hidden" name="txtid" id="txtid" value="@id" readonly="readonly" />
                                        <input type="hidden" name="txtCorreoCliente" id="txtCorreoCliente" value="@ViewBag.CorreoCliente" readonly="readonly" />
                                    </td>
                                </tr>
                                <tr class="highlight">
                                    <td nowrap="nowrap">Contacto</td>
                                    <td>
                                        @{
                                            try
                                            {
                                                if (vcontacto == 1)
                                                {
                                                    <select name="txtcontacto1" id="txtcontacto1" class="form-control">
                                                        <option selected value="00"> -- Seleccione Contacto -- </option>
                                                        @{
                                                            for (int i = 0; i < listcontacto.Count; i++)
                                                            {
                                                                <option value="@listcontacto[i].NomCon" selected> @listcontacto[i].NomCon </option>
                                                            }
                                                        }
                                                    </select>
                                                }
                                                else
                                                {
                                                    <input type="text" name="txtcontacto0" id="txtcontacto0" class="form-control" value="" tabindex="-1" />
                                                }
                                            }
                                            catch (Exception)
                                            {
                                                <input type="text" name="txtcontacto00" id="txtcontacto00" value="" class="form-control" tabindex="-1" />
                                            }
                                        }
                                        <input type="hidden" id="txtVcontacto" name="txtVcontacto" class="form-control" value=@vcontacto>
                                    </td>
                                    <td nowrap="nowrap">Cond. Venta</td>
                                    <td>
                                        <select name="cbxconven" id="cbxconven" class="form-control" tabindex="4">
                                            <option selected value="00"> -- Seleccione Cond. Vta -- </option>
                                            @{
                                                for (int i = 0; i < condicion.Count; i++)
                                                {
                                                    <option selected value="@condicion[i].ConVta"> @condicion[i].CveDes </option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td nowrap="nowrap">Lista de Precio</td>
                                    <td>
                                        <select name="cbxlista" class="form-control" id="cbxlista" tabindex="7">
                                            <option selected value="00"> -- Seleccione Lista De Precio -- </option>
                                            @{
                                                for (int i = 0; i < listap.Count; i++)
                                                {
                                                    <option value="@listap[i].Codlista" selected> @listap[i].DesLista </option>
                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr class="highlight">
                                    <td nowrap="nowrap">Fecha Pedido</td>
                                    <td><input type="date" class="form-control" name="txtfechapedido" value="@fechaactual" id="txtfechapedido" readonly="readonly" /></td>
                                    <td nowrap="nowrap">Centro de Costo</td>
                                    <td>
                                        <select class="form-control" name="cbxccosto" id="cbxccosto" tabindex="9">
                                            <option selected value="00"> -- Seleccione Centro de Costo -- </option>
                                            @{
                                                for (int i = 0; i < cc.Count; i++)
                                                {
                                                    <option selected value="@cc[i].CodiCC"> @cc[i].DescCC </option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td nowrap="nowrap">Fecha Entrega</td>
                                    <td><input type="date" class="form-control" name="txtfechaentrega" min=@fechamin value=@fechamin id="txtfechaentrega" /></td>
                                </tr>
                                <tr class="highlight">
                                    <td nowrap="nowrap">Observaci&oacute;n</td>
                                    <td colspan="5"><textarea class="form-control" name="txtobservacion" id="txtobservacion" rows="2"> </textarea></td>
                                </tr>
                                <tr>
                                    <td>Dirección de Despacho</td>
                                    <td colspan="5">

                                        @{
                                            try
                                            {
                                                if (vdirec == 1)
                                                {
                                                    <select class="form-control" name="cbxDireccion" id="cbxDireccion" tabindex="9">
                                                        <option selected value="00"> -- Seleccione Dirección de Despacho -- </option>
                                                        @{
                                                            for (int i = 0; i < direc.Count; i++)
                                                            {
                                                                <option selected value="@direc[i].NomDch"> @direc[i].DirDch @direc[i].ComDch </option>
                                                            }
                                                        }

                                                    </select>
                                                }
                                                else
                                                {
                                                    <input class="form-control" type="text" name="cbxDireccion" id="cbxDireccion" value="No Tiene Dirección Asociado" tabindex="-1" readonly="readonly" />
                                                }

                                            }
                                            catch (Exception)
                                            {

                                            }
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-lg-12">
        <div class="col-lg-12">
            <div class="panel panel-inverse" data-sortable-id="ui-widget-2">
                <div class="panel-heading">
                    <h4 class="panel-title">Agregar Producto</h4>
                    <div class="panel-heading-btn">
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>-->
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>-->
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>-->
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>-->
                    </div>
                </div>
                <div class="panel-body">
                    <table id="user" class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th>Cod. Rap.</th>
                                <th style=" width: 450px !important">Descripcion/Codigo</th>
                                <th>Cant.</th>
                                <th>Stock</th>
                                <th>U. deM</th>
                                <th>Neto</th>
                                <th></th>
                                <th>Descuen.(%)</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="javascript:;" id="txtIngresoCodigoRapido" data-type="text" data-pk="1" data-title="Cod Rap"></a></td>
                                <!--<td><a href="javascript:;" id="txtIngresoDescripcionCodigo" data-type="text" data-pk="2" data-title="Descripcion / Codigo"></a></td>-->
                                <td data-select2-id="277"><a href="javascript:;" id="txtIngresoDescripcionCodigo" data-type="select2" data-pk="2" data-value="BS" data-title="Seleccione Producto" class="editable editable-click" style=""></a></td>
                                <td><a href="javascript:;" id="txtIngresoCantidad" data-type="text" data-pk="3" data-title="Cantidad">1</a></td>
                                <td><a disabled href="javascript:;" id="txtIngresoStock" data-type="text" data-pk="4" data-title="Stock"></a></td>
                                <td><a disabled href="javascript:;" id="txtIngresoUnidadDeMedida" data-type="text" data-pk="4" data-title="Unidad Medida"></a></td>
                                <td><a href="javascript:;" id="txtIngresoNeto" data-type="text" data-pk="4" data-title="Unidad Medida"></a></td>
                                <td><a href="javascript:;" id="txtIngresoSubTotal" data-type="text" data-pk="4" data-title="Sub Total"></a></td>
                                <td><a href="javascript:;" id="txtIngresoDescuento" data-type="text" data-pk="4" data-title="Descuento">0</a></td>
                                <td><a href="javascript:;" id="txtIngresoTotal" data-type="text" data-pk="4" data-title="Total"></a></td>
                                <td>
                                <td>
                                    <input class="btn btn-primary" type="button" name="Agregar" value="(+)" onclick="addRow();">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-lg-12">
        <div class="col-lg-9">
            <div class="panel panel-inverse" data-sortable-id="ui-widget-3">
                <div class="panel-heading">
                    <h4 class="panel-title">Productos ingresados</h4>
                    <div class="panel-heading-btn">
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>-->
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>-->
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>-->
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>-->
                    </div>
                </div>
                <div class="panel-body">
                    <!-- begin table-responsive -->
                    <div class="table-responsive">
                        <table id="table" class="table">
                            <thead>
                                <tr>
                                    <th nowrap="" class="codigoTh">C&oacute;digo</th>
                                    <th nowrap="" class="descripcionTh">Descripci&oacute;n</th>
                                    <th nowrap="" class="cantidadTh">Cantidad</th>
                                    <th nowrap="" class="unimedTh">Unidad Medida </th>
                                    <th nowrap="" classnowrap="" class="precioTh">Precio Unit Neto</th>
                                    <th nowrap="" class="subTotalTh">Subtotal Neto</th>
                                    <th nowrap="" class="subTotalTh">Descu. (%)</th>
                                    <th nowrap="" class="subTotalTh">Total</th>
                                    <th nowrap="" class="accionesTh">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody id="generaTabla"></tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div>
                <!-- end panel-body -->
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-inverse" data-sortable-id="ui-widget-4">
                <div class="panel-heading">
                    <h4 class="panel-title">TOTALES</h4>
                    <div class="panel-heading-btn">
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>-->
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>-->
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>-->
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>-->
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="table-responsive form-inline">
                            <table id="user" class="table table-condensed table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="tg-0lax">
                                            <input type="hidden" id="contador_registros" name="contador_registros" value=@numero1>
                                            <h4> Sub-Total Neto:&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                                        </td>
                                        <td class="tg-0lax">
                                            <h4><label id="lbtotal">@double.Parse(total1.ToString()).ToString("N0")&nbsp;&nbsp;&nbsp;&nbsp;</label></h4>
                                            <input type="hidden" id="txttotal" name="txttotal" value=@total1>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tg-0lax"><h3>Impuesto:&nbsp;&nbsp;&nbsp;&nbsp;</h3></td>
                                        <td class="tg-0lax">
                                            <h4><label id="lbimpuesto">@double.Parse(impuesto.ToString()).ToString("N0")&nbsp;&nbsp;&nbsp;&nbsp;</label></h4>
                                            <input type="hidden" id="txtimpuesto" name="txtimpuesto" value=@impuesto>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tg-0lax"><h3>Total Final:&nbsp;&nbsp;&nbsp;&nbsp;</h3></td>
                                        <td class="tg-0lax">
                                            <h4><label id="lbtotalfinal">@double.Parse(totalfinal.ToString()).ToString("N0")&nbsp;&nbsp;&nbsp;&nbsp;</label></h4>
                                            <input type="hidden" id="txttotalfinal" name="txttotalfinal" value=@totalfinal>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row text-center">
                        <input class="btn btn-primary" id="btnCot" type="submit" value="Genera Cotización" onclick="agregarnotadeventa();">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<!-- end page container -->
<!-- ================== BEGIN BASE JS ================== -->
<script src="~/Content/assets/js/app.min.js"></script>
<script src="~/Content/assets/js/theme/default.min.js"></script>
<!-- ================== END BASE JS ================== -->
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="~/Content/assets/plugins/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script src="~/Content/assets/plugins/x-editable-bs4/dist/bootstrap4-editable/js/bootstrap-editable.min.js"></script>
<script src="~/Content/assets/plugins/x-editable-bs4/dist/inputs-ext/address/address.js"></script>
<script src="~/Content/assets/plugins/x-editable-bs4/dist/inputs-ext/typeaheadjs/lib/typeahead.js"></script>
<script src="~/Content/assets/plugins/x-editable-bs4/dist/inputs-ext/typeaheadjs/typeaheadjs.js"></script>
<script src="~/Content/assets/plugins/x-editable-bs4/dist/inputs-ext/wysihtml5/wysihtml5.js"></script>
<script src="~/Content/assets/plugins/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.min.js"></script>
<script src="~/Content/assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="~/Content/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/Content/assets/plugins/select2/dist/js/select2.full.min.js"></script>
<script src="~/Content/assets/plugins/jquery-mockjax/dist/jquery.mockjax.min.js"></script>
<script src="~/Content/assets/plugins/moment/moment.js"></script>
<script src="~/WebJs/Venta/NotaDeVenta.js"></script>

<!-- ================== END PAGE LEVEL JS ================== -->
