@using UTIL.Models;
@{
    /**/

    ViewBag.Title = "Parametros";
    ParametrosModels parametros = ViewBag.Parametros;
    List<EmpresaModel> empresas = ViewBag.Empresas;
}


<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        height: 80%;
        width: 100%;
    }

    th, td {
        border: 3px;
        text-align: center;
        padding: 3px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-inverse" data-sortable-id="ui-widget-1">
            <div class="panel-heading">
                <h4 class="panel-title">Parametros</h4>
                <div class="panel-heading-btn">
                    <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>-->
                    <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>-->
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>-->
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4">
                        Empresa
                    </div>
                    <div class="col-lg-8">
                        <select name="ddlEmpresas" id="ddlEmpresas" class="form-control" tabindex="4">
                            <option selected value="-1"> -- Seleccione Empresa -- </option>
                            @{
                                for (int i = 0; i < empresas.Count; i++)
                                {
                                    <option value="@empresas[i].IdEmpresa"> @empresas[i].NombreEmpresa </option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div id="divDatos" class="row" style="display: none">
                    <div class="col-lg-12">
                        <form id="formDatos">
                            <div class="table-responsive form-inline">
                                <table class="table table-profile">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Multi Empresa</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="MultiEmpresa" id="MultiEmpresa" @Html.Raw(parametros.MultiEmpresa ? "checked" : "")>
                                                            <label for="MultiEmpresa"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Maneja Administrador</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="ManejaAdministrador" id="ManejaAdministrador" @Html.Raw(parametros.ManejaAdministrador ? "checked" : "")>
                                                            <label for="ManejaAdministrador"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Maneja Aprobador</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="ManejaAprobador" id="ManejaAprobador" @Html.Raw(parametros.ManejaAprobador ? "checked" : "")>
                                                            <label for="ManejaAprobador"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Lista Clientes Vendedor</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="ListaClientesVendedor" id="ListaClientesVendedor" @Html.Raw(parametros.ListaClientesVendedor ? "checked" : "")>
                                                            <label for="ListaClientesVendedor"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">ListaClientesTodos</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="ListaClientesTodos" id="ListaClientesTodos" @Html.Raw(parametros.ListaClientesTodos ? "checked" : "")>
                                                            <label for="ListaClientesTodos"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Valida Reglas de Negocio</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="ValidaReglasNegocio" id="ValidaReglasNegocio" @Html.Raw(parametros.ValidaReglasNegocio ? "checked" : "")>
                                                            <label for="ValidaReglasNegocio"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Maneja Lista de Precios</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="ManejaListaPrecios" id="ManejaListaPrecios" @Html.Raw(parametros.ManejaListaPrecios ? "checked" : "")>
                                                            <label for="ManejaListaPrecios"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Edita Precio de Producto</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="EditaPrecioProducto" id="EditaPrecioProducto" @Html.Raw(parametros.EditaPrecioProducto ? "checked" : "")>
                                                            <label for="EditaPrecioProducto"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Muestra Condicion de Venta Cliente</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="MuestraCondicionVentaCliente" id="MuestraCondicionVentaCliente" @Html.Raw(parametros.MuestraCondicionVentaCliente ? "checked" : "")>
                                                            <label for="MuestraCondicionVentaCliente"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Muestra Condicion de Venta Todos</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="MuestraCondicionVentaTodos" id="MuestraCondicionVentaTodos" @Html.Raw(parametros.MuestraCondicionVentaTodos ? "checked" : "")>
                                                            <label for="MuestraCondicionVentaTodos"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Edita Descuento de Producto</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="EditaDescuentoProducto" id="EditaDescuentoProducto" @Html.Raw(parametros.EditaDescuentoProducto ? "checked" : "")>
                                                            <label for="EditaDescuentoProducto"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Maximo Descuento de Producto</div>
                                                    <div class="col-lg-8">
                                                        <input type="text" class="form-control" id="MaximoDescuentoProducto" name="MaximoDescuentoProducto" value="@parametros.MaximoDescuentoProducto" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Cantidad Descuentos de Producto</div>
                                                    <div class="col-lg-8">
                                                        <input type="text" class="form-control" id="CantidadDescuentosProducto" name="CantidadDescuentosProducto" value="@parametros.CantidadDescuentosProducto" />
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Muestra Stock de Producto</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="MuestraStockProducto" id="MuestraStockProducto" @Html.Raw(parametros.MuestraStockProducto ? "checked" : "")>
                                                            <label for="MuestraStockProducto"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Stock de Producto Es Masivo</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="StockProductoEsMasivo" id="StockProductoEsMasivo" @Html.Raw(parametros.StockProductoEsMasivo ? "checked" : "")>
                                                            <label for="StockProductoEsMasivo"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Stock Producto es por Bodega</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="StockProductoEsBodega" id="StockProductoEsBodega" @Html.Raw(parametros.StockProductoEsBodega ? "checked" : "")>
                                                            <label for="StockProductoEsBodega"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Codigo Bodega stock de producto</div>
                                                    <div class="col-lg-8">
                                                        <input type="text" class="form-control" id="StockProductoCodigoBodega" name="StockProductoCodigoBodega" value="@parametros.StockProductoCodigoBodega" />
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Controla Stock de Producto</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="ControlaStockProducto" id="ControlaStockProducto" @Html.Raw(parametros.ControlaStockProducto ? "checked" : "")>
                                                            <label for="ControlaStockProducto"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Envio Mail Cliente</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="EnvioMailCliente" id="EnvioMailCliente" @Html.Raw(parametros.EnvioMailCliente ? "checked" : "")>
                                                            <label for="EnvioMailCliente"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Envio Mail Vendedor</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="EnvioMailVendedor" id="EnvioMailVendedor" @Html.Raw(parametros.EnvioMailVendedor ? "checked" : "")>
                                                            <label for="EnvioMailVendedor"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Envio Mail Contacto</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="EnvioMailContacto" id="EnvioMailContacto" @Html.Raw(parametros.EnvioMailContacto ? "checked" : "")>
                                                            <label for="EnvioMailContacto"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Envio Obligatorio Aprobador</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="EnvioObligatorioAprobador" id="EnvioObligatorioAprobador" @Html.Raw(parametros.EnvioObligatorioAprobador ? "checked" : "")>
                                                            <label for="EnvioObligatorioAprobador"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Maneja Talla Color</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="ManejaTallaColor" id="ManejaTallaColor" @Html.Raw(parametros.ManejaTallaColor ? "checked" : "")>
                                                            <label for="ManejaTallaColor"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Maneja Descuento Total Documento</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="ManejaDescuentoTotalDocumento" id="ManejaDescuentoTotalDocumento" @Html.Raw(parametros.ManejaDescuentoTotalDocumento ? "checked" : "")>
                                                            <label for="ManejaDescuentoTotalDocumento"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Cantidad Descuentos Total Documento</div>
                                                    <div class="col-lg-8">
                                                        <input type="text" class="form-control" id="CantidadDescuentosTotalDocumento" name="CantidadDescuentosTotalDocumento" value="@parametros.CantidadDescuentosTotalDocumento" />
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Cantidad Lineas nota de Venta</div>
                                                    <div class="col-lg-8">
                                                        <input type="text" class="form-control" id="CantidadLineas" name="CantidadLineas" value="@parametros.CantidadLineas" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Maneja Canal Venta</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="ManejaCanalVenta" id="ManejaCanalVenta" @Html.Raw(parametros.ManejaCanalVenta ? "checked" : "")>
                                                            <label for="ManejaCanalVenta"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Creacion Nota de Venta Usuarios Bloqueados</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="CreacionNotaVentaUsuariosBloqueados" id="CreacionNotaVentaUsuariosBloqueados" @Html.Raw(parametros.CreacionNotaVentaUsuariosBloqueados ? "checked" : "")>
                                                            <label for="CreacionNotaVentaUsuariosBloqueados"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Creacion Nota de Venta Usuarios Inactivos</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="CreacionNotaVentaUsuariosInactivos" id="CreacionNotaVentaUsuariosInactivos" @Html.Raw(parametros.CreacionNotaVentaUsuariosInactivos ? "checked" : "")>
                                                            <label for="CreacionNotaVentaUsuariosInactivos"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Permite Modificacion Condicion de Venta</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="PermiteModificacionCondicionVenta" id="PermiteModificacionCondicionVenta" @Html.Raw(parametros.PermiteModificacionCondicionVenta ? "checked" : "")>
                                                            <label for="PermiteModificacionCondicionVenta"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Atributo Softland Descuento Cliente</div>
                                                    <div class="col-lg-8">
                                                        <input type="text" class="form-control" id="AtributoSoftlandDescuentoCliente" name="AtributoSoftlandDescuentoCliente" value="@parametros.AtributoSoftlandDescuentoCliente" />
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Permite Crear Direccion Despacho</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="PermiteCrearDireccion" id="PermiteCrearDireccion" @Html.Raw(parametros.PermiteCrearDireccion ? "checked" : "")>
                                                            <label for="PermiteCrearDireccion"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Crear Cliente Con DV</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="CrearClienteConDV" id="CrearClienteConDV" @Html.Raw(parametros.CrearClienteConDV ? "checked" : "")>
                                                            <label for="CrearClienteConDV"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Muestra Unidad de Medida Producto</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="MuestraUnidadMedidaProducto" id="MuestraUnidadMedidaProducto" @Html.Raw(parametros.MuestraUnidadMedidaProducto ? "checked" : "")>
                                                            <label for="MuestraUnidadMedidaProducto"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Descuento Linea Directo Softland</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="DescuentoLineaDirectoSoftland" id="DescuentoLineaDirectoSoftland" @Html.Raw(parametros.DescuentoLineaDirectoSoftland ? "checked" : "")>
                                                            <label for="DescuentoLineaDirectoSoftland"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Descuento Total Directo Softland</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="DescuentoTotalDirectoSoftland" id="DescuentoTotalDirectoSoftland" @Html.Raw(parametros.DescuentoTotalDirectoSoftland ? "checked" : "")>
                                                            <label for="DescuentoTotalDirectoSoftland"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Maneja Linea Credito Vendedor</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="ManejaLineaCreditoVendedor" id="ManejaLineaCreditoVendedor" @Html.Raw(parametros.ManejaLineaCreditoVendedor ? "checked" : "")>
                                                            <label for="ManejaLineaCreditoVendedor"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-4">Maneja Linea Credito Aprobador</div>
                                                    <div class="col-lg-8">
                                                        <div class="switcher">
                                                            <input type="checkbox" switcher name="ManejaLineaCreditoAprobador" id="ManejaLineaCreditoAprobador" @Html.Raw(parametros.ManejaLineaCreditoAprobador ? "checked" : "")>
                                                            <label for="ManejaLineaCreditoAprobador"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <input type="button" id="btnGuardarParametro" class="btn btn-primary" value="Guardar" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/WebJs/Administracion/Parametros.js"></script>